<div class="container">
    <div class="col"></div>
    <div class="col-lg-12 col-sm-12">
        <h3>Connect with Us</h3>
    <div class="contact">
        <div class="left">
            <h4>Send a request</h4>
            <div class="first">
                <div class="inp"><label for="">Name :&nbsp;</label><input type="text" name="name" [(ngModel)]="name"></div>
            <div class="inp"><label for="">Phone : &nbsp;</label><input type="text" name="number" [(ngModel)]="number"></div>
            </div>
            
            <div class="second">
                <div class="inp"><label for="">Email : &nbsp;</label><input type="text" name="email" [(ngModel)]="email"></div>
            <div class="inp"><label for="">Destination : &nbsp;</label><input type="text" name="destination" [(ngModel)]="destination"></div>
            </div>
            <button>Submit</button>
        </div>
        <div clas="right"></div>
    </div>
    </div>
    <div class="col"></div>
</div>
