button{
    margin-left: 500px;
    margin-right: 500px;
}
table{
    margin-bottom: 100%;
}



.color-class{
    background-color: skyblue;
}

.color-class1{
    background-color: cyan;
}

.color-class2{
    background-color: cadetblue;
}